<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="utf-8"> -->
    <title>Ruby on Rails Turorial Sample App | <%= yield(:title) %> </title>
  </head>
  <body>
    <h1>Help</h1>
    <p>Get help on the Ruby on Rails Turtorial
       <a href="http://railstutorial.org/help">Rails Turtorial help page</a>.
       To get help on this Sample App, see the
       <a href="http://railstutorial.org/book">Rails Turtorial book</a>.
    </p>
  </body>
</html>
