<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>Get help on the Ruby on Rails Turtorial
    <a href="http://railstutorial.org/help">Rails Turtorial help page</a>.
    To get help on this Sample App, see the
    <a href="http://railstutorial.org/book">Rails Turtorial book</a>.
</p>
